{% extends 'main.twig' %}
 {% block contenthead %}

     <div class="kt-subheader   kt-grid__item" id="kt_subheader">
         <div class="kt-subheader__main">
             <h3 class="kt-subheader__title">
                 Dashboard </h3>

         </div>
         <div class="kt-subheader__toolbar">
             <div class="kt-subheader__wrapper">
                 <a href="#" class="btn kt-subheader__btn-secondary">Today</a>
                 <a href="#" class="btn kt-subheader__btn-secondary">Month</a>
                 <a href="#" class="btn kt-subheader__btn-secondary">Year</a>
                 <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="Select dashboard daterange" data-placement="left">
                     <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
                     <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">Aug 16</span>
                     <i class="flaticon2-calendar-1"></i>
                 </a>
                 <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
                     <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                             <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                 <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                 <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                             </g>
                         </svg>

                         <!--<i class="flaticon2-plus"></i>-->
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                         <ul class="kt-nav">
                             <li class="kt-nav__section kt-nav__section--first">
                                 <span class="kt-nav__section-text">Add new:</span>
                             </li>
                             <li class="kt-nav__item">
                                 <a href="#" class="kt-nav__link">
                                     <i class="kt-nav__link-icon flaticon2-graph-1"></i>
                                     <span class="kt-nav__link-text">Order</span>
                                 </a>
                             </li>
                             <li class="kt-nav__item">
                                 <a href="#" class="kt-nav__link">
                                     <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                     <span class="kt-nav__link-text">Event</span>
                                 </a>
                             </li>
                             <li class="kt-nav__item">
                                 <a href="#" class="kt-nav__link">
                                     <i class="kt-nav__link-icon flaticon2-layers-1"></i>
                                     <span class="kt-nav__link-text">Report</span>
                                 </a>
                             </li>
                             <li class="kt-nav__item">
                                 <a href="#" class="kt-nav__link">
                                     <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                     <span class="kt-nav__link-text">Post</span>
                                 </a>
                             </li>
                             <li class="kt-nav__item">
                                 <a href="#" class="kt-nav__link">
                                     <i class="kt-nav__link-icon flaticon2-file-1"></i>
                                     <span class="kt-nav__link-text">File</span>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 {% endblock %}
{% block body %}

    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--Begin::Dashboard 6-->

        <!--begin:: Widgets/Stats-->
        <div class="kt-portlet">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-xl">
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Total Requests
                                    </h4>
                                    <span class="kt-widget24__desc">
															All Valuation Requests
									</span>
                                </div>
                                <span class="kt-widget24__stats kt-font-brand">
														18
													</span>
                            </div>


                        </div>

                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Pending Requets
                                    </h4>
                                    <span class="kt-widget24__desc">
															Awaiting Valuer Response
														</span>
                                </div>
                                <span class="kt-widget24__stats kt-font-warning">
														10
													</span>
                            </div>


                        </div>

                        <!--end::New Feedbacks-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Orders-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Completed Requests
                                    </h4>
                                    <span class="kt-widget24__desc">
															Valuer Responded To Request
														</span>
                                </div>
                                <span class="kt-widget24__stats kt-font-danger">
														8
													</span>
                            </div>

                        </div>

                        <!--end::New Orders-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Users-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Requested Today
                                    </h4>
                                    <span class="kt-widget24__desc">
															{{ today|date('y-m-d') }}
														</span>
                                </div>
                                <span class="kt-widget24__stats kt-font-success">
													0
								</span>
                            </div>

                        </div>

                        <!--end::New Users-->
                    </div>
                </div>
            </div>
        </div>

        <!--end:: Widgets/Stats-->

        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-6">

                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Pending Requests
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body">

                        <!--Begin::Tab Content-->
                        <div class="tab-content">

                            <!--begin::tab 1 content-->
                            <div class="tab-pane active" id="kt_widget11_tab1_content">

                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td style="width:5%">#</td>
                                                <td style="width:23%">Customer Name</td>
                                                <td style="width:25%">Vehicle Registration</td>
                                                <td style="width:22%">Date Requested</td>
                                                <td style="width:25%">Valuer Name</td>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>

                                                    <input type="checkbox"><span></span>

                                                </td>
                                                <td>
                                                    Moses Wetangula
                                                </td>
                                                <td>19,200</td>
                                                <td>$63</td>
                                                <td><span class="kt-badge kt-badge--inline kt-badge--brand">new</span></td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="kt-widget11__action kt-align-right">
                                        <button type="button" class="btn btn-label-brand btn-bold btn-sm">More Details</button>
                                    </div>
                                </div>

                                <!--end::Widget 11-->
                            </div>

                            <!--end::tab 1 content-->

                        </div>

                        <!--End::Tab Content-->
                    </div>
                </div>

                <!--end:: Widgets/Sale Reports-->
            </div>
            <div class="col-xl-6">

                <!--begin:: Widgets/Order Statistics-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Order Statistics
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
                                Export
                            </a>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first">
                                        <span class="kt-nav__section-text">Choose an action:</span>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-graph-1"></i>
                                            <span class="kt-nav__link-text">Export</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                            <span class="kt-nav__link-text">Save</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-layers-1"></i>
                                            <span class="kt-nav__link-text">Import</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                            <span class="kt-nav__link-text">Update</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-file-1"></i>
                                            <span class="kt-nav__link-text">Customize</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fluid">
                        <div class="kt-widget12">
                            <div class="kt-widget12__content">
                                <div class="kt-widget12__item">
                                    <div class="kt-widget12__info">
                                        <span class="kt-widget12__desc">Annual Taxes EMS</span>
                                        <span class="kt-widget12__value">$400,000</span>
                                    </div>
                                    <div class="kt-widget12__info">
                                        <span class="kt-widget12__desc">Finance Review Date</span>
                                        <span class="kt-widget12__value">July 24,2019</span>
                                    </div>
                                </div>
                                <div class="kt-widget12__item">
                                    <div class="kt-widget12__info">
                                        <span class="kt-widget12__desc">Avarage Revenue</span>
                                        <span class="kt-widget12__value">$60M</span>
                                    </div>
                                    <div class="kt-widget12__info">
                                        <span class="kt-widget12__desc">Revenue Margin</span>
                                        <div class="kt-widget12__progress">
                                            <div class="progress kt-progress--sm">
                                                <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 40%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="kt-widget12__stat">
																	40%
																</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-widget12__chart" style="height:250px;">
                                <canvas id="kt_chart_order_statistics"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end:: Widgets/Order Statistics-->
            </div>
        </div>

        <!--End::Section-->



        <!--End::Dashboard 6-->
    </div>

{% endblock %}