<!--begin::Modal-->
<div class="modal fade edit_worker_modal" id="kt_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="kt-scroll" data-scroll="true" data-height="200">
                    <form class="kt-form" id="form">
                        <div class="kt-portlet__body">
                            <div class="kt-section kt-section--first">
                                <div class="form-group">
                                    <label>Worker Group:</label>
                                    <input type="hidden" id="worker_id" name="worker_id" class="form-control"/>
                                    <select id="worker_group" name="worker_group" class="form-control">
                                        <option value="">Choose Worker Group</option>
                                        {% for group in groups %}

                                            <option value="{{ group.id }}"> {{ group.groupName }} </option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label>First Name:</label>

                                    <input type="text" id="first_name" name="first_name" class="form-control"/>

                                </div>

                                <div class="form-group">
                                    <label>Middle Name:</label>

                                    <input type="text" id="middle_name" name="middle_name" class="form-control"/>

                                </div>

                                <div class="form-group">
                                    <label>Last Name:</label>

                                    <input type="text" id="last_name" name="last_name" class="form-control"/>

                                </div>

                                <div class="form-group">
                                    <label>ID Number:</label>

                                    <input type="text" id="id_number" name="id_number" class="form-control"/>

                                </div>

                                <div class="form-group">
                                    <label>Staff ID:</label>

                                    <input type="text" id="staff_id" name="staff_id" class="form-control"/>

                                </div>

                                <div class="form-group">
                                    <label>Status:</label>

                                    <select  id="status" name="status" required="required" class="form-control">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>

                                </div>

                            </div>
                        </div>


                    </form>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--end::Modal-->