<div class="modal fade edit_staff_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal_heading">Edit Staff</h4>
            </div>

            <div class="modal-body">

                <div id="schedule_info" class="alert alert-info fade in popover-hidden" role="alert"></div>
                <div id="schedule_warning" class="alert alert-warning fade in popover-hidden"
                     role="alert"></div>
                <div id="schedule_danger" class="alert alert-danger fade in popover-hidden"
                     role="alert"></div>

                <div class="" role="tabpanel" data-example-id="schedule-togglable-tabs">
                    <div id="tab_schedule_content" class="tab-content">

                        <!-- Main form schedule -->
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_schedule_main"
                             aria-labelledby="schedule_main_tab">
                            <div class="panel-body">

                                <form id="frm_edit_staff" autocomplete="off" class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reason">Merchant Name:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="merchant_name" name="merchant_name" class="form-control col-md-7 col-xs-12"/>
                                            <input type="hidden" id="merchant_id" name="merchant_id" class="form-control col-md-7 col-xs-12"/>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reason">Merchant PhoneNumber:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="merchant_email" name="merchant_email" class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reason">Email Address:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="merchant_phone" name="merchant_phone" class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reason">Physical Address:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea  id="merchant_address" name="merchant_address" class="form-control col-md-7 col-xs-12"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reason">Status:</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select  id="merchant_status" name="merchant_status" class="form-control col-md-7 col-xs-12">
                                                <option value=""></option>
                                                <option value="Active">Active</option>
                                                <option value="Inative">Inactive</option>
                                            </select>
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn_schedule_task" type="button" class="btn btn-primary edit_merchant">Edit Merchant
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

          //edit Merchant
            $('.edit_merchant').click(function () {
                var contractor_ID = $('#contractr').val();
                var schedule_Date = $('#THEDATE').val();
                var contacts = $('#PHONE_NUMBER').val();
                var contactName = $('#CONTACT_NAME').val();
                var user_Name = $('#T_NAME').val();
                var customer_Address = $('#ADDR').val();
                var task_Type = $('#TASKTYPE').val();
                var user_id = $('#user_id').val();
                var net_work = $('#NTWRK').val();
                var taskID = $('#task_id').val();
                var subnetwork = $('#SBNETWORK').val();

                if (schedule_Date == '') {
                    popupNotify('Error!', 'schedule Date Cannot Be Empty!', 3000, 'error', 'hand-paper-o', true, true);
                    return;
                }

                if (contractor_ID == '') {
                    popupNotify('Error!', 'You must select a contractor!', 3000, 'error', 'hand-paper-o', true, true);
                    return;
                }

                if (task_Type == '') {
                    popupNotify('Error!', 'You must select a task type!', 3000, 'error', 'hand-paper-o', true, true);
                    return;
                }

                $.ajax({
                    type: 'GET',
                    url: '{{ path_for('admin.update-merchant') }}',
                    data: {
                        contractorId: contractor_ID,
                        scheduleDate: schedule_Date,
                        task_type: task_Type,
                        id: taskID,
                    }
                })
                    .success(function (data) {

                        setTimeout(function () {
                            $('.edit_schedule_modal').modal('hide');
                            reset_schedule_window()
                        }, 1000)
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(errorThrown));
                    });
            });
        });
    </script>
{% endblock %}